{% extends "layouts/base-shadow.html" %}
{% load static %}

{% block page_heading %}
<h2> Books </h2>
{% endblock page_heading %}

{% block content %}
    <!-- row 1 -->
    <div class="flex flex-wrap justify-center mt-4 -mx-3">

        {% for book in books  %}
            <div class="w-1/2 max-w-full px-3 mb-6 sm:w-1/2 sm:flex-none xl:w-1/4">
                <div class="relative flex flex-col min-w-0 break-words bg-white border-0 shadow-xl dark:bg-slate-850 dark:shadow-dark-xl rounded-2xl bg-clip-border">
                    <p class="absolute right-0 top-3 bg-black text-white leading-normal opacity-50 font-semibold p-1 border border-none rounded-lg" > 
                        {{book.author.names}}
                    </p>
                    <a href="{{ book.get_absolute_url }}">
                    <img class="w-full rounded-t-2xl" src="{{book.cover.url}}" alt="profile cover image">
                    <div class="border-black/12.5 rounded-t-2xl p-1 text-center">
                        <p class="mb-0 line-clamp-2 font-sans text-xs font-semibold leading-normal uppercase dark:text-white dark:opacity-60">
                        {{book.title}}
                        </p>
                    </div>
                    </a>
                </div>
            </div>
            {% empty %}
            <p class="mb-0 font-sans text-xs font-semibold leading-normal uppercase dark:text-white dark:opacity-60">
                No book found
            </p>
        {% endfor %}


    </div>

{% endblock content %}
